@using System.Globalization;
@using System.Threading;
@model DnD5_Chargen.Models.Chargen.AbilityBonus

@{ 
  CultureInfo cultureInfo = Thread.CurrentThread.CurrentCulture;
  TextInfo textInfo = cultureInfo.TextInfo;
}

@if (!(string.IsNullOrEmpty(Model.Ability) || string.IsNullOrEmpty(Model.Bonus.ToString()))) { 
  <p><b>Ability Score Increase:</b> <em>Increase your @textInfo.ToTitleCase(Model.Ability) score by @Model.Bonus.ToString()</em>.</p>
}
